<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../source/css/Lists.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="leftbar">

            <div class="pagesName">
                Trorder
            </div>

            <div class="menu">
                <i class="fa fa-hand-lizard"></i>
            </div>

        </div>

        <div class="list">
            <div class="card-post">
                <div style="background-image: url(https://i.pinimg.com/originals/3b/8a/d2/3b8ad2c7b1be2caf24321c852103598a.jpg);" class="card-dare">

                </div>

                <div class="card-info">
                    <div class="card-info-inside-left">
                        <img src="../source/imgs/avatar.png" alt="">
                        Nawlhadaif
                    </div>
                    <div class="card-info-inside-right">
                        <div class="text">Dare</div>
                    </div>
                </div>
            </div>

            <div class="card-post">
                <div class="card-truth">
                    <p>
                        Lorem ipsum ikwan no iku hiki ga ire ni su na kiayto ni bokura
                        sore temo sora ni sararete oshiete o oshie to curya kok , kyo o hanabi
                        desyo e dyoo o Lorem ipsum ikwan no iku hiki ga ire ni su na kiayto ni bokura
                        sore temo sora ni sararete oshiete o oshie to curya kok , kyo o hanabi
                        desyo e dyoo o
                        so det trun no it smashhhhhhh
                    </p>
                    <div class="margin-manual">
                        .
                    </div>
                </div>
                <div class="card-info">
                    <div class="card-info-inside-left">
                        <img src="../source/imgs/avatar.png" alt="">
                        Nawlhadaif
                    </div>
                    <div class="card-info-inside-right">
                        <div class="text">Truth</div>
                    </div>
                </div>
            </div>

            <div class="card-post">
                <div class="card-truth">
                    <p>
                        Detroit Smashhhhhhhhhhh
                    </p>
                    <div class="margin-manual">
                        .
                    </div>
                </div>
                <div class="card-info">
                    <div class="card-info-inside-left">
                        <!-- <img src="../source/imgs/avatar.png" alt=""> -->
                        Anonnymous
                    </div>
                    <div class="card-info-inside-right">
                        <div class="text">Truth</div>
                    </div>
                </div>
            </div>

            <div class="card-post">
                <div class="card-truth">
                    <p>
                        Detroit Smashhhhhhhhhhh
                    </p>
                    <div class="margin-manual">
                        .
                    </div>
                </div>
                <div class="card-info">
                    <div class="card-info-inside-left">
                        <!-- <img src="../source/imgs/avatar.png" alt=""> -->
                        Anonnymous
                    </div>
                    <div class="card-info-inside-right">
                        <div class="text">Truth</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>