
    font-family: 'Fira Sans', sans-serif;
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.container input[type=text] {
    margin-top: 5px;
    background-color: #E3E3E3;
    border: none;
    width: 300px;
    height: 20px;
    border-radius: 8px;
    padding: 10px;
}


=======
    margin: 3%;
}

