html {
    font-family: 'Fira Sans', sans-serif;
}

img {
    width: 150px;
    transition-duration: 1s;
}

img:hover{
    transition-duration: 1s;
    width: 140px;
}

.link {
    margin-left: 10px;
    font-size: 12px;
}

    .link a {
        font-family: monospace;
        margin-left: 5px;

    }


.container {
    padding: 90px 0px 0px 180px;
}

    .container .top {
        overflow-y: hidden;
    }

        .container .top .left {
            float: left;
            margin: 1em;
        }

        .container .top .center {
            float: left;
            margin: 1em;
            max-width: 600px;
        }

            .p-space {
                margin-left: 10px;
            }

        .container .top .right {
            float: left;
            margin: 5.5em 0em 0em 0em;
        }

            .button-right {
                border-radius: 8px;
                padding: 10px;
                border-color: black;
                border-style: solid;
                border-width: 1px;
            }

    .container .sosmed {
        font-size: 12px;
        padding: 20px 0px 0px 20px;    
    }

    .container .bottom {
        padding: 20px 0px 0px 0px;    
    }

        .square {
            margin: 20px;
            float: left;
            border-radius: 10px;
            min-width: 200px;
            min-height: 200px;
            max-width: 200px;
            max-height: 200px;
            border-color: black;
            border-style: solid;
            border-width: 1px;
            text-align: center;
            vertical-align: middle;
            line-height: 240px; 
        }

        .square i {
            transition-duration: 3s;
            font-size: 80px;
        }

        
/* Pop Up Css */

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 40%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
    .popup h2 {
        margin-top: 0;
        color: #333;
        font-family: Tahoma, Arial, sans-serif;
    }

    .popup .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
    }
    .popup .close:hover {
        color: #06D85F;
    }
    .popup .content {
        max-height: 30%;
        overflow: auto;
    }

        .popup .content img {
            margin-left: 17px;
            width: 40px;
        }

        .pop .content input[type="text"] {
            background-color: #e3e3e3;
            padding: 5px;
            
        }

    .popup .asking {
        background-color: #e3e3e3;
        border-style: none;
        min-width: 300px;
        max-width: 300px;
        min-height: auto;
        max-height: auto;
    }

    .popup textarea {
        border-style: none;
        background-color: #e3e3e3;
    }
  